/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item-name{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  
}
.item-rating{
  height: 20px;
  width: 20px;
  border: 1px solid yellow;
}
.item-status{
  height: 60px;
  width: 80px;
  border: 1px solid green;
  
  
}
.item-details{
  border: 2px solid rgb(168, 168, 223);
  width: 200px;
  display: block;
    
}
.slidecontainer {
  width: 100%;
}
.flight-details{
  width: 80%;
  overflow-x: auto;
  border: 2px solid black;
  height: 400px;
  margin: auto;
  padding: auto;
} */

.item-details {
  background-color: white;
}

.item-details:hover {
  background-color: rgba(185, 183, 183, 0.3);
  cursor: pointer;
  transition: all 0.5s;
}

body {
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f6f8fc;
}

.App {
  height: 100vh;
}
.box-padding{
  padding:8px 8px;
  border-radius: 20px;
  border: 1px solid darkgray;
}
.box-padding:hover{
  background-color: rgb(255, 250, 250);
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav-items{
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.nav-items:hover{
  color: rgb(64, 150, 201);
  cursor: pointer;
}
.app-icon{
    margin-left: 65px;
  
    
}
.placesName{
  display: flex;
 align-items: center;
 justify-content: center;
 font-weight: 500;
 padding-top:3px ;
}
/* .wholeimg{
  scrollbar-width: none;
    scroll-padding-left: 52px;
    scroll-behavior: auto;
    scroll-snap-type: x mandatory;
} */
body.active-modal {
  overflow-y: hidden;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: auto;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.dash-item-detail{
    align-items: center;
    display: flex;
    min-height: 32px;
    border: 1px  solid rgb(205 192 192);
    border-radius: 10px;
    margin-bottom: 16px;
    height: 32px;
    padding: 20px;
    width: 68%;
    margin-left: 250px;
    background-color:white;
    gap: 20px;
    font-weight: 400;
}
.bg-dashboard {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='1440' height='256' fill='none'><path fill='url(#a)' fill-rule='evenodd' d='M1440 167.207C1224.62 223.655 980.573 255.5 722 255.5c-260.175 0-505.644-32.241-722-89.345V0h1440v167.207Z' clip-rule='evenodd'/><defs><linearGradient id='a' x1='0' x2='1048.73' y1='0' y2='787.836' gradientUnits='userSpaceOnUse'><stop stop-color='#FF6D38'/><stop offset='1' stop-color='#DB7A21'/></linearGradient></defs></svg>"), url("https://go-assets.ibcdn.com/u/GI/images/1715677875363-bg-dweb.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 353px;
  background-position: center bottom;
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: -1;  
}
@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
    column-count: 3;
  }
}